#content { background: #000; }
h1#page-title { color: #e87d39; text-transform: none; padding: 30px 0 0 40px; font-size: 24px; margin-bottom: 70px; }
#videos-top { background: #000; color: #e87d39;  font-size: 18px; line-height: 24px; }
#body-left { width: 440px; float: left; margin-right: 15px; padding-left: 40px; }
#body-right { width: 400px; float: left; }

#videos-top .cat-box { width: 229px; height: 126px; border: 2px solid #71b9d6; float: left; margin-right: 5px; }
#videos-top #video-cats { height: 130px; margin-left: 2px; margin-bottom: 60px; }


#videos-bottom { padding: 20px 40px; position: relative; background: #fff; z-index: 0; }
#most-watched-videos { width: 430px; height: 229px; position: absolute; bottom: 32px; }
#tell-story { float:  right;  }
#videos-bottom table td div.views-field-field-story-thumb { margin: 40px 5px 0 0; }
#videos-bottom table td div.views-field-field-story-thumb img { border: 1px solid #71b9d6; }
#videos-bottom table tr.row-1 td div.views-field-field-story-thumb { margin: 10px 5px 0 0; }

.clearfix { clear: both; }

/* slideshow */
span#views_slideshow_controls_text_pause_video_categories-block { display: none; }
div.views-slideshow-cycle-main-frame-row-item { width: 229px; height: 126px; border: 2px solid #71b9d6; float: left; margin-right: 5px; text-align: center; line-height: 126px; color: #fff; position: relative; }
div.views-slideshow-cycle-main-frame-row-item a:link { color: #fff; }
div.views-slideshow-controls-top { display: none; }
div.views-slideshow-controls-top #views_slideshow_slide_counter_video_categories-block { display: none; }

div.view-video-categories div.views-field-field-desc-left, div.view-video-categories div.views-field-field-desc-right { display: none; }
.vidlist { position: absolute; top: 0; left: 0;width: 382px; background: black; }

div.view-videos-by-category div.view-content div.views-row { position: absolute;  top: -211px; left: 0; }

#vids-by-cat { /*display: none; */ position: absolute; top: 20px; left: 30px;  }
div.view-videos-by-category div.view-content div.views-row { width: 382px; /*height: 211px;*/ }
#nav { margin-bottom: 30px; }
div.vids-by-cat-view { border: 2px solid #71b9d6; width: 382px; position: relative; display: none; z-index: 2; }

.vids-controls { height: 30px; background: transparent url(../images/vid-info-bg.png); position: absolute; width: 382px; z-index: 150; }
a.vid-prev { display: block; background: transparent url(../images/vid-prev.png) no-repeat left center; width: 12px; height: 30px;/* z-index: 151;*/ float: right; }
a.vid-next { display: block; background: transparent url(../images/vid-next.png) no-repeat left center; width: 15px; height: 30px;/* z-index: 151;*/  float: right; }
div.vid-counter { width: 42px; float: right; color: #fff; text-align: center; }
a.vid-prev:hover, a.vid-next:hover { cursor: pointer; }
#views_slideshow_cycle_main_video_categories-block div.views-field-name:hover { cursor: pointer; }
div.views-field-field-story-thumb .field-content:hover { cursor: pointer; }
div.vids-by-cat-view div.views-field-field-story-desc { /*position: absolute; bottom:0;*/ color: #fff; font-size: 13px; background: #000; line-height: 15px; }
div.vids-by-cat-view div.vid-desc-label { position: absolute; top: 181px; width: 372px; background: transparent url(../images/vid-info-bg.png); padding-left: 10px; text-transform: uppercase; height: 30px; line-height: 30px; }
div.vids-by-cat-view div.vid-desc-label:hover { cursor: pointer; }
div.vids-by-cat-view div.vid-desc { /*padding-top: 30px;*/ padding: 0 10px 11px 10px;  display: none; }

#video-player-wrapper { color: #fff; display: none; width: 382px; height: 231px; border: 2px solid #71b9d6; position: absolute; /*z-index: 200;*/ }
#video-player { width: 382px; height: 211px; }
#video-close { height: 20px; color: #fff; background: #000; text-align: right; }