body.page-image-gallery #main { background: #000; }
body.page-image-gallery .section .content { position: relative; }
body.page-image-gallery #main #content { padding: 35px 30px 40px 40px; }
body.page-image-gallery h1 { color: #e87d39; text-transform: none; font-size: 30px; margin-bottom: 25px; }
body.page-image-gallery li a.active { color: #ff9049; }
div.views-field-field-gallery-thumb { margin: 0 10px 10px 0; }
div.views-field-field-gallery-thumb img { border: 1px solid #55879b; }
div.image-gallery-pager { color: #fff; background: #e87d39;  height: 29px; position: absolute; right: 30px; }
body.page-image-gallery ul.pager li.pager-previous a { display: block; background: transparent url(../images/pager-arrow-previous.png) no-repeat left center; width: 8px; height: 29px; padding: 0; }
body.page-image-gallery ul.pager li.pager-next a { display: block; background: transparent url(../images/pager-arrow-next.png) no-repeat left center; width: 8px; height: 29px; padding: 0; font-size: 16px; }
body.page-image-gallery ul.pager li.pager-previous, body.page-image-gallery ul.pager li.pager-next { padding: 0 5px; width: 8px; height: 29px; }
body.page-image-gallery ul.pager li { padding: 0 5px; float: left; height: 29px; line-height: 24px; }

#image-gallery-filter { width: 308px; color: #fff; text-transform: uppercase; border: 2px solid #f57d32; background: #000;  }
ul#image-gallery-categories { color: #fff; background: #000; display: none; }
ul#image-gallery-categories li { background: #000;  }
#image-gallery-filter-title {  background: #f57d32; padding: 3px; }
form#views-exposed-form-image-gallery-page {  position: absolute; right: 282px; top: 0; }
div.image-gallery-category-inner { margin: 5px; }
div.image-gallery-category-inner:hover { background: #f57d32; cursor: pointer; }
#image-gallery-filter-title:hover { cursor: pointer; }

form#views-exposed-form-image-gallery-page div.views-exposed-widgets { display: none; }