body { font-size: 15px; /*font-family: ConduitITCStd, Arial, sans-serif;*/ }
a:link, a:visited, a:hover { color: #e87d39; }
strong { color: #e87d39; }
.field-name-body p { padding: 10px 0; }

#page-wrapper { /*width: 1014px;  margin: auto;*/ }

#header-top { height: 35px; background: #000000; line-height: 35px; font-size: 18px; }
#header-top-inner { width: 954px;  margin: auto; }


#header { background: #fff url(../images/header.jpg) no-repeat; width: 1014px; height: 206px; margin: auto; }
#header .section { height: 206px; position: relative; }
#site-slogan { position: absolute; color: #e87d39; text-transform: uppercase; left: 528px; top: 73px; width: 200px; line-height: 22px; font-size: 19px; font-weight: bold; }
#header-share { width: 234px; float: right; padding-top: 33px; }
#header-share .connect_widget .connect_widget_text { position: relative; left: -50px; top: 50px; }
#fb-icon { width: 31px; /*float: left;*/ margin-bottom: 8px; }
#fb-like { /*width: 100px; float: left;*/ height: 40px; }

/* search form */
#header-share form.search-form { position: absolute; }
#header-share form.search-form .form-text { width: 165px; height: 19px; border: 2px solid #71b9d6; }
#header-share form.search-form label { display: block; margin-bottom: 8px; color: #e87d39; text-transform: uppercase; }

#navigation { height: 37px; background: #317eb0; }

/* main menu */
#block-superfish-1 { width: 954px; margin: auto; height: 37px; background: #317eb0; padding: 0 30px; }
.sf-menu.sf-style-default a { padding: 0; border: none; color: #fff; font-weight: bold; text-transform: uppercase; }
.sf-menu.sf-style-default  { margin: 0; }
.sf-menu.sf-style-default a, .sf-menu.sf-style-default a:visited { color: #fff; }
.sf-menu.sf-style-default li li a, .sf-menu.sf-style-default li li a:visited { color: #005394; }
.sf-menu li { }
.sf-menu.sf-style-default a:hover { /*background:  transparent url(../images/menu-highlight.png) no-repeat center 0;*/ color: #e87d39;  }
.sf-menu.sf-style-default li li a:hover { color: #e87d39; }
ul#superfish-1, ul#superfish-1 li.sf-depth-1 { height: 28px; background: #317eb0;  }
ul#superfish-1 li.sf-depth-1 { margin: 0 40px; }
ul#superfish-1 li.sf-depth-1.first { margin-left: 10px; }
ul#superfish-1 li.sf-depth-1.last { margin-right: 0; }
ul#superfish-1 li.sf-depth-1 a { display: block; /*padding: 8px 30px 9px;*/  }
ul#superfish-1 li.sf-depth-1 > a { height: 20px; padding: 8px 3px 0 3px;  }
ul#superfish-1 li.sf-depth-1 > a:hover { background: transparent url(../images/menu-highlight.png) no-repeat center 0; }
ul#superfish-1 li.sf-depth-1 a.active, ul#superfish-1 li.active-trail a { color: #e87d39; background: transparent url(../images/menu-highlight.png) no-repeat center 0; }
.sf-shadow ul { background: transparent; width: 159px; -moz-border-radius-bottomleft: 0px; -moz-border-radius-topright: 0px; -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;}
.sf-menu.sf-style-default li li { background: transparent; font-size: 13px; }
.sf-menu li:hover ul, .sf-menu li.sfHover ul { top: 28px; left: -45px }
.sf-menu li.sf-depth-1 > ul { width: 159px !important;  background: transparent url(../images/menu-bg-top.png) no-repeat top left; }
/*.sf-menu li.sfHover > ul { background-position: 0 -8px; }*/
.sf-menu li.sf-depth-1 > ul > li { width: 153px !important; }
.sf-menu.sf-style-default li:hover { background: transparent; }
.sf-menu.sf-style-default li li { /*background: transparent url(../images/menu-dropdown-mid.png) repeat-y top left;*/ }
.sf-menu.sf-style-default li li.sf-parent-children-0 > a { background: transparent url(../images/menu-arrow.png) no-repeat 140px 8px; }
.sf-menu.sf-style-default li li.sf-parent-children-0 > a:hover { background: #458bb8 url(../images/menu-arrow-white.png) no-repeat 140px 8px; }
.sf-menu.sf-style-default li li.first { /*background: transparent url(../images/menu-dropdown-top.png) no-repeat top left;*/ margin-top: 8px;  }
.sf-menu.sf-style-default li li.last { /*background: transparent url(../images/menu-dropdown-bottom.png) no-repeat bottom left; */ border-bottom: 3px solid #000; }
.sf-menu.sf-style-default li li a { border-top: 1px solid #005394; padding: 4px 3px 5px 9px; border-left: none; background: transparent; }
.sf-menu.sf-style-default li li li a { border-top: none; }
.sf-menu.sf-style-default li li a:hover { background-color: #458bb8; color: #fff; }
.sf-menu.sf-style-default li li.first a { border-top: none; }
.sf-menu.sf-style-default li li.sf-depth-2 { border-left: 3px solid #000; border-right: 3px solid #000; /*background: #fff;*/ background: transparent url(../images/menu-bg.png); }
.sf-menu.sf-style-default li.sf-depth-1  > ul > li.first { border-top: 3px solid #000; }

.sf-menu.sf-style-default li li li { background: transparent; height: 50px; line-height: 35px; }
.sf-menu.sf-style-default li li li.first { padding-top: 10px; }
.sf-menu.sf-style-default li li li.last { padding-bottom: 10px; }
.sf-menu.sf-style-default li:hover, .sf-menu.sf-style-default li.sfHover, .sf-menu.sf-style-default a:focus, .sf-menu.sf-style-default a:hover, .sf-menu.sf-style-default a:active { /*background: transparent; */}
.sf-menu.sf-style-default li li li.first { margin: 7px 0 0 0; border-top: 3px solid black;}
.sf-menu li.sf-depth-2 > ul { width: 231px !important;  /*background: transparent url(../images/menu-lvl2-bg.png) repeat;*/  background: transparent url(../images/menu-bg-top-large-right.png) no-repeat top left; }
.sf-menu li.sf-depth-2 > ul > li { border-left: 3px solid black; border-right: 3px solid black; background: transparent url(../images/menu-bg.png); }

.menu-icon { float: left; width: 31px; padding: 9px; }

h1 { font-size: 41px; text-transform: uppercase; }
#main-wrapper { /*width: 1014px; margin: auto;*/ background: url(../images/blue-bg.jpg) repeat center 0; }
#main-burst { background: url(../images/burst.png) no-repeat center -37px; }
#main { width: 954px; margin: auto; padding: 0; font-size: 18px; background: #fff; color: white; }
#content { color: #000; position: relative; }



/* home pages */
#home-top-left { float: left; width: 530px; }
#home-top-right { float: left; width: 404px; padding-left: 10px; }
div.field-name-field-home-header { font-size: 1.3em;  padding: 27px 0 10px 0; color: #fff; }
#home-top-right div.field-name-body { line-height: 1.2em; color: #fff; }
/* some home pages have different sized font in order to fit everything in the same space */
/* there won't be other content added to the home page sections, so we can just identify the nodes by nid */
body.page-node-13 div.field-name-field-home-header { padding-top: 20px; }
body.page-node-14 div.field-name-field-home-header { padding-top: 10px; }
body.page-node-15 div.field-name-field-home-header { padding-top: 10px; font-size: 1.6em; padding-bottom: 10px; }

#home-section-top { height: 377px; background: #000; }

/* home section menu */
ul.home-section-menu { font-size: 9px; text-transform: uppercase; width: 500px; margin: auto; padding: 15px 0 0 33px; }
ul.home-section-menu a { display: block; background-color: #e87d39; line-height: 15px; font-weight: bold; width: 90px; height: 17px; margin: auto; margin-top: 5px; }
ul.home-section-menu a:link, ul.home-section-menu a:visited { color: #fff; text-decoration: none; }
ul.home-section-menu li { float: left; width: 100px; background-color: #e87d39; height: 27px; margin-right: 10px; text-align: center; }
ul.home-section-menu li.active { background-color: #fff; }

/* home panels */
#panels-header { height: 50px; padding-left: 45px; line-height: 45px; font-weight: bold; }
.panels-title { color: #e87d39; margin-right: 25px; }
.panels-title-paren { color: #72bad6; }
#home-panels { width: 891px; margin: auto;  position: relative; }
.home-section-panel { width: 282px; height: 238px; float: left; margin-right: 22px; margin-bottom: 20px; }
.panel-last { margin-right: 0; }
.panel-expanded { display: none; }
.panel-open-right { position: absolute; top: 0; left: 0;  }
.panel-open-left { position: absolute; top: 0; right: 0; }
.panel-close { position: absolute; width: 32px; height: 32px; background: transparent url(../images/close.png) no-repeat; top: 10px; right: 14px; }
.panel-close:hover { cursor: pointer; }


/* interior pages */
#interior-header { background: #000; padding: 20px 60px 40px 60px; line-height: 25px; color: #fff; }
.field-name-field-header-img { float: right; margin: 10px 0 20px 30px; }
body.node-type-interior-page h2.title { color: #e87d39; font-size: 40px;  text-transform: uppercase; padding: 10px 0; width: 550px; float: left; }
.field-name-field-interior-header { clear: left; }
#interior-main div.field-name-body { color: #000; padding: 35px 60px 40px 60px; line-height: 25px;  }
#interior-main h3 { font-size: 1.15em; padding: 0 0 10px 0; }
#interior-main ul { list-style-type: disc;  padding-left: 60px; }
#interior-main a:link { border-bottom: 1px solid #e87d39; color: red;}
#interior-footnotes { color: #000; padding: 0 0px 40px 0px; font-size: 17px; font-weight: normal; border-top: 2px solid #666; width: 834px; margin: auto;  }

#footer { background: #000; height: 150px;  }
#footer ul { width: 954px; margin: auto; padding-top: 15px; text-transform: uppercase; }
#footer ul.menu li { float: left; list-style: none; padding: 0 22px; }
#footer a:link, #footer a:visited { color: #fff; }
#footer a:hover { color: #e87d39; }
#footer-text { color: #e87d39; text-align: center; margin-top: 28px; font-weight: bold; }
#footer-text span { margin-right: 20px; }


/* soda stories page  and form */
body.node-type-soda-story-form-page  #content { background: #000; /*padding: 30px 40px 20px 50px;*/ color: #fff; }
body.node-type-soda-story-form-page h1 { padding: 30px 40px 20px 50px; font-size: 50px; }
body.node-type-soda-story-form-page #soda-story-body { margin-left: 400px; padding-right: 50px; }
body.node-type-soda-story-form-page #soda-story-body h3 { color: #e87d39; font-size: 1.3em; margin-bottom: 10px; }
body.node-type-soda-story-form-page #soda-story-top #soda-story-page-title { width: 400px; float: left; }
body.node-type-soda-story-form-page #block-system-main .content .field-name-body { padding: 30px 40px 20px 50px; }
body.node-type-soda-story-form-page form#soda-story-node-form div.form-item-title { display: none; }
body.node-type-soda-story-form-page form#soda-story-node-form div.vertical-tabs { display: none; }
body.node-type-soda-story-form-page form#soda-story-node-form div#edit-field-story-popup { display: none; }
body.node-type-soda-story-form-page form#soda-story-node-form div.field-name-field-story-cat { display: none; }
body.node-type-soda-story-form-page div.field-type-text  { float: left; margin-right: 50px; }
body.node-type-soda-story-form-page div.field-type-file { float: left; }
body.node-type-soda-story-form-page div.field-type-file div.file-widget { font-size: 13px; }
div#custom-soda-story-form { width: 500px; /*border: 1px solid white;*/ float: right; }
body.node-type-soda-story-form-page #edit-field-story-name, body.node-type-soda-story-form-page #edit-field-story-email { width: 180px; }
body.node-type-soda-story-form-page input#edit-field-story-doc-und-0-upload {  }
body.node-type-soda-story-form-page #edit-field-story-teen { clear: left;  float: left; }
body.node-type-soda-story-form-page #edit-field-story-doc div.description, body.node-type-soda-story-form-page #edit-field-story-photos div.description { display: none; }
body.node-type-soda-story-form-page #edit-field-story-teen select { width: 180px; margin-right: 30px;  }
body.node-type-soda-story-form-page #edit-field-story-photos { clear: left; }
body.node-type-soda-story-form-page #edit-field-story-photos fieldset { border: none; }
body.node-type-soda-story-form-page #edit-field-story-photos legend, body.node-type-soda-story-form-page #edit-field-story-photos div.tabledrag-toggle-weight-wrapper { display: none; }
body.node-type-soda-story-form-page #edit-field-story-photos table tr { background-color: #000; }
body.node-type-soda-story-form-page #edit-field-story-photos table th { border-bottom: 3px solid #000; display: none; }
body.node-type-soda-story-form-page #edit-field-story-photos table div.image-widget-data { clear: left; }
body.node-type-soda-story-form-page #edit-field-story-remember { width: 210px; float: left; margin-right: 30px; }
body.node-type-soda-story-form-page #edit-field-story-remember input#edit-field-story-remember-und { background: #000; border: 1px solid #fff; }
body.node-type-soda-story-form-page #edit-field-story-remember label { font-size: 18px; }
body.node-type-soda-story-form-page form label { font-size: 20px; }
body.node-type-soda-story-form-page form#soda-story-node-form div.form-item { margin: 10px 0; }
body.node-type-soda-story-form-page form#soda-story-node-form span.form-required { display: none; }
body.node-type-soda-story-form-page form#soda-story-node-form .form-submit, body.node-type-soda-story-form-page form#soda-story-node-form #edit-field-story-doc-und-0-upload-button, body.node-type-soda-story-form-page form#soda-story-node-form #edit-field-story-photos-und-0-upload-button { background: #000; color: #fff; text-transform: uppercase; border: 1px solid #fff; }
body.node-type-soda-story-form-page form#soda-story-node-form input { color: #e87d39; }
body.node-type-soda-story-form-page #soda-story-page-footer { clear: right; background: #fff; color: #000; padding: 30px 50px 30px; font-size: 12px; }
body.node-type-soda-story-form-page div.field-name-field-story-rules { padding: 20px 0 0 50px; clear: left; }
body.node-type-soda-story-form-page div.field-name-field-story-rules h3 { text-transform: uppercase; padding: 20px 0 10px 0; }
body.node-type-soda-story-form-page div.field-name-field-story-rules ul li { list-style: disc; padding: 5px 0; list-style-position: inside; }
.text-highlight { color: #e87d39; }
body.node-type-soda-story-form-page #edit-field-number-views, body.node-type-soda-story-form-page #edit-field-story-desc { display: none; }
/* soda story lists */
body.node-type-soda-story-form-page #soda-story-body ul li { background: transparent url(../images/soda-story-bullet.png) no-repeat left 10px; padding: 10px 0 10px 50px; }
body.node-type-soda-story-form-page #edit-field-story-thumb, body.node-type-soda-story-form-page #edit-field-featured { display: none; }


.clearfix { clear: both; }

/* login form */
#block-user-login { background: #000; }
#block-user-login form#user-login-form { color: #fff; }

div.ctools-modal-content, div.ctools-modal-content  .modal-header, #modal-content { background: #000; }
#modal-content { color: #fff; }
#modal-content form#user-login div.description { display: none; }
.modal-header a.close { display: none; }
div.ctools-modal-content .modal-content { padding: 0 0 0 32px; }
form#user-login .form-item { margin: 0; padding: 0; }
div.ctools-modal-content .modal-header { height: 35px; padding: 26px 0 15px 30px; }
div.ctools-modal-content .modal-title { color: #e87d39; font-size: 25px; }
div.ctools-modal-content .modal-content  label { text-transform: uppercase; font-size: 17px; width: 235px; margin-bottom: 5px;  }
div.ctools-modal-content .modal-content  label.option { color: #75bad7; font-weight: bold; }
div.ctools-modal-content .modal-content  span.form-required { display: none; }
div.ctools-modal-content .modal-content form input.form-text { width: 235px; height: 37px; background: url(../images/login-box.jpg) no-repeat; border: none; font-size: 37px; line-height: 37px; color: #333; margin-bottom: 15px; }
div.ctools-modal-content .modal-content form #edit-actions { margin: 0; }
div.ctools-modal-content .modal-content form div.form-type-checkbox { width: 180px; float: left; }


/* blog */
body.page-blog #content { padding: 40px 60px; }
body.page-blog div.content > div.view-blog div.view-content { width: 575px; float: right; }
body.page-blog #blog-archive div.view-content { width: 100%; padding-left: 25px; }
div.view-blog div.view-header { background: #fff url(../images/blog-images.png) 620px 5px no-repeat; height: 125px; border-bottom: 3px solid #000; margin-bottom: 33px; }
div.view-blog div.view-header h1 { font-size: 62px; }
div.view-blog div.view-header h3 { color: #e77d33; text-transform: uppercase; font-size: 25px; }
div.view-blog div.views-field-created { float: left; width: 46px; height: 65px; }
div.view-blog div.blog-date { width: 46px; height: 65px; background: transparent url(../images/blog-date.png) no-repeat; color: #fff; text-align: center;}
div.view-blog div.blog-date-month { text-transform: uppercase; font-size: 1.1em; }
div.view-blog div.blog-date-day { font-size: 1.3em; font-weight: bold; }
div.view-blog div.blog-date-year { font-size: 15px; font-weight: bold; }
div.view-blog div.views-field-title, div.view-blog div.views-field-name, div.view-blog div.views-field-body, div.view-blog div.views-field-view-node {  width: 500px; padding-left: 75px; padding-right: 259px; }
div.view-blog div.views-field-title { font-size: 24px; font-weight: bold; }
div.view-blog div.views-field-name { font-weight: bold; text-transform: uppercase; margin-bottom: 20px;  }
div.view-blog div.views-field-view-node { float: left; font-size: 14px; color: #e77d33; text-transform: uppercase; font-weight: bold; }
div.view-blog div.views-field-comment-count { float: left; width: 300px; }
div.view-blog li.views-row { clear: both; margin-bottom: 70px; line-height: 28px; }
div.view-blog div.views-field-body { margin-bottom: 6px; }

#blog-archive { width: 229px; padding: 5px 0 0 25px; float: right; font-size: 14px; }
body.page-blog #blog-archive li.views-row { margin: 0;  text-indent: 30px; font-style: italic; }
#blog-archive div.views-field-title a:link, #blog-archive div.views-field-title a:visited { color: #000; }
#blog-archive div.views-field-title { font-size: 14px; width: 100%; padding: 0; }
#blog-archive div.view-content ul li { display: none; }
#blog-archive div.view-content div.item-list { margin-bottom: 15px; text-indent: 15px;  }
#blog-archive div.view-content div.item-list h3:hover { cursor: pointer; }
#blog-archive div.view-content div.item-list h3 { margin-bottom: 7px; }
#blog-archive div.view-header { background: #fff; border: none; margin: 0 0 10px 0; height: auto; font-size: 18px; color: #e77d33; }
span.collapse-icon { padding-left: 10px; }

/* blog detail */
body.node-type-blog-post .node { padding: 40px 60px; }
body.node-type-blog-post h1#page-title { /*padding: 40px 60px 0;*/ }
div.blog-date .blog-date-field { height: 21px; line-height: 21px; }
div.node-blog-post div.views-field-created { float: left; width: 46px; height: 65px; }
div.node-blog-post div.blog-date { width: 46px; height: 65px; background: transparent url(../images/blog-date.png) no-repeat; color: #fff; text-align: center; float: left; margin: 0 20px 20px 0; }
div.node-blog-post div.blog-date-month { text-transform: uppercase; font-size: 1.1em; }
div.node-blog-post div.blog-date-day { font-size: 1.3em; font-weight: bold; }
div.view-blog div.blog-date-year { font-size: 15px; font-weight: bold; }