body { font-size: 16px; }
a:link, a:visited, a:hover { color: #e87d39; }

#page-wrapper { /*width: 1014px;  margin: auto;*/ }

#header-top { height: 35px; background: #000000; }
#header-top-inner { width: 1014px; margin: auto; }

#header { background: #fff url(../images/header.jpg) no-repeat; width: 1014px; height: 206px; margin: auto; }
#header .section { height: 206px; position: relative; }
#site-slogan { position: absolute; color: #e87d39; text-transform: uppercase; left: 528px; top: 73px; width: 200px; line-height: 22px; font-size: 19px; font-weight: bold; }

#navigation { height: 37px; background: #317eb0; }

/* main menu */
#block-superfish-1 { width: 1014px; margin: auto; height: 37px; background: #317eb0; }
.sf-menu.sf-style-default a { padding: 0; border: none; color: #fff;  }
.sf-menu.sf-style-default  { margin: 0; }
ul#superfish-1, ul#superfish-1 li.sf-depth-1 { height: 37px; background: #317eb0; }
ul#superfish-1 li.sf-depth-1 a { display: block; padding: 8px 30px 9px; height: 20px; }

#main-wrapper { /*width: 1014px; margin: auto;*/ background: url(../images/main-bg.jpg) no-repeat center 0; }
#main { width: 954px; margin: auto; padding: 0 30px; font-size: 20px; background: #000; color: white; }


#footer { background: #fff; }